<div class="container-full is-marginless has-bg-grey-200">
  <div class="container">
    <div class="row p-y-60">
      <div class="xs-col-1-1 sm-col-1-1 md-col-1-2 lg-col-1-2 xl-col-1-2 flex flex-row space-between m-b-20">
        {% for column in include.footer %}
        <div class="flex-column">
          <h4 class="upper">
            {{ column.header }}
          </h4>
          {% for link in column.links %}
            <a href="{{ link.link }}">{{ link.title }}</a><br>
          {% endfor %}
        </div>{% endfor %}
      </div>
      <div class="xs-col-1-1 sm-col-1-1 md-col-1-2 lg-col-1-2 xl-col-1-2 flex flex-column align-self-center align-items-flex-end">
        <h6>Copyright Yahoo</h6>
      </div>
    </div>
  </div>
</div>
