<!-- CTA -->
<div class="container-full is-marginless has-bg-grey-100">
  <div class="row p-y-60">
    <div class="xs-col-1-1 sm-col-1-1 md-col-1-1 lg-col-10-12 lg-col-off-1-12 xl-col-10-12 xl-col-off-1-12">
      <h1>Get Started</h1>
      <h3 class="is-regular m-t-16 m-b-20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h3>
      <div>
        <a href="https://github.com/yahoo/yavin-docs" class="button is-solid is-large">Get Started</a>
      </div>
    </div>
  </div>
</div>
