<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ include.htmlhead.title }}</title>
  <!-- Denali Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-icon-font/dist/denali-icon-font.css" />
  <!-- Style for this page -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/denali.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/custom.css" />
</head>
