<div id="search" class="modal">
  <div class="modal-container is-full">
    <a href="{{ site.baseurl }}{{ page.url }}#" class="close"><i class="d-icon d-close"></i></a>
    <div class="modal-header">
      <div class="container">
        <div class="input is-full has-icon-front" style="width: 100%;">
          <span class="d-icon d-search is-brand-300"></span>
          <input id="search-input" type="text" placeholder="Search for something..." autofocus></input>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <ul class="results-header">
          <h3 class="is-regular" id="search-message">Start typing and we'll show you the results</h3>
          <h6 class="upper is-grey-600">Showing <span id="search-results-count">0</span> results</h6>
        </ul>
        <div id="results-container" class="results-container"></div>
      </div>
    </div>
  </div>
</div>
