h1 {
  margin-bottom: 1em;
}

h2 h3, h4, table, ol, ul, figure {
  margin: 1em 0;
}

figcaption {
  @extend .is-grey-600;
}

/* Helpers that need to be added */
.has-bg-brand-300 {
  background-color: #1A7DB6 !important;
}
.has-bg-brand-400 {
  background-color: #005A8E !important;
}
.is-brand-300 {
  color: $color-brand-300 !important;
}

/* TODO: Border radiius circle and pill */
.br-circle {
  border-radius: 100%;
}

/* Gutters should be applied to rows */
/* Add a gutter size override too. */
.is-gutterless > .col {
  margin: 0px !important;
}

/* TODO: Add additional flexbox helpers */
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-flex-end {
  align-items: flex-end;
}

/* NOTE: Add font weight override to nav items */
/* Add loop for height helpers */
.h-50 {
  height: 50px;
}
.h-40 {
  height: 40px;
}
.h-35 {
  height: 35px;
}

/* TODO: Lineheight Helpers */
.line-height-compact {
  line-height: 1 !important;
}

/* TODO: Add overflow helpers */
.overflow-hidden {
  overflow: hidden;
}

/* TODO: Add body font-size override */
/* TODO: Background image helpers */
/* TODO: Button full size at breakpoints */
/* TODO: Navbar overflow */

/* Add sticky */
.sticky-top {
  position: sticky;
  top: 0;
}

/* Styles for the site */

/* Navbar */
.nav {
  font-weight: 700;
  z-index: 100;
}

/* Cover */
.section-cover {
  background-color: $color-grey-800;
  padding: 1em 0 2em;

  a + a {
    margin-left: 1em;
  }
}

/* Guides */
.section-guide--item {
  height: 100%;
  min-height: 320px;
  transition: 300ms;

  div:last-child {
    transition: 300ms;
  }

  .section-guide--item--button > p {
    color: #CF2F15;
    transition: 300ms;
  }

  &:hover {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.10);

    div:last-child {
      background-color: #CF2F15;
    }

    .section-guide--item--button > p {
      color: #fff;
    }
  }
}

#guide {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  > div {
    max-width: 860px;

    h2::before {
      border-top: .3rem solid $color-grey-600;
      content: "";
      display: inline-block;
      transform: translateY(-1rem);
      width: 100%;
    }
  }
}

#markdown-toc {
  @extend .list;
  > li {
    margin-left: 1em;
  }

  ul {
    @extend #markdown-toc;
  }
}

.markdown-docs p {
  margin: 1em 0;
}

ol, ul {
  @extend .list;
}

.truncate {
  width: 80em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search {
  .modal-header {
    background-color: $color-grey-800;

    .container {
      max-width:860px;
      width: 100%;

      #search-input {
        text-indent: 2em;
      }
    }
  }
  .modal-content {
    padding: 0;
  }
}

/*********************
Resets for Prism
*********************/

.highlight {
  margin: 20px 0;
}

pre[class*=language-] {
  margin: 0px;
  padding: 20px;
  background: #303030 !important;
  font-size: 14px;
  font-family: monospace;
}

code[class*=language-] {
  padding: 0px;
  margin: 0px;
  height: auto;
  font-size: 14px;
  font-family: monospace;
}
