h1 {
  margin-bottom: 1em;
}

h2 h3, h4, table, ol, ul, figure {
  margin: 1em 0;
}

figcaption {
  @extend .is-grey-600;
  margin-bottom: 50px;
}

/* Helpers that need to be added */
.has-bg-brand-300 {
  background-color: #1A7DB6 !important;
}
.has-bg-brand-400 {
  background-color: #005A8E !important;
}
.is-brand-300 {
  color: $color-brand-300 !important;
}

/* TODO: Border radiius circle and pill */
.br-circle {
  border-radius: 100%;
}

/* Gutters should be applied to rows */
/* Add a gutter size override too. */
.is-gutterless > .col {
  margin: 0px !important;
}

/* TODO: Add additional flexbox helpers */
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-flex-end {
  align-items: flex-end;
}

/* NOTE: Add font weight override to nav items */
/* Add loop for height helpers */
.h-50 {
  height: 50px;
}
.h-40 {
  height: 40px;
}
.h-35 {
  height: 35px;
}

/* TODO: Lineheight Helpers */
.line-height-compact {
  line-height: 1 !important;
}

/* TODO: Add overflow helpers */
.overflow-hidden {
  overflow: hidden;
}

/* TODO: Add body font-size override */
/* TODO: Background image helpers */
/* TODO: Button full size at breakpoints */
/* TODO: Navbar overflow */

/* Add sticky */
.sticky-top {
  position: sticky;
  top: 0;
}

/* Styles for the site */

/* Table */
table.table img {
  vertical-align: middle;
}

/* Navbar */
.nav {
  font-weight: 700;
  z-index: 100;
}

/* Cover */
.section-cover {
  background-color: $color-grey-800;
  padding: 1em 0 2em;

  a + a {
    margin-left: 1em;
  }
}

/* Guides */
.section-guide--item {
  height: 100%;
  min-height: 320px;
  transition: 300ms;

  div:last-child {
    transition: 300ms;
  }

  .section-guide--item--button > p {
    color: #CF2F15;
    transition: 300ms;
  }

  &:hover {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.10);

    div:last-child {
      background-color: #CF2F15;
    }

    .section-guide--item--button > p {
      color: #fff;
    }
  }
}

#guide {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .page-metadata {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
  }

  > div {
    max-width: 860px;
    padding-bottom: 50rem;

    h1 {
      margin-bottom: 0;
    }

    h1 + .page-metadata + h2:first-of-type {
      margin-top: 3rem;
    }

    h2 {
      margin-top: 6rem;
    }

    h3 {
      margin-top: 3rem;
    }

    h4 {
      margin-top: 2rem;
    }
    
    .header-anchor {
      color: $color-grey-700;
      text-decoration: none;
      border-bottom: 1px solid $color-brand-100;
    }

    // slight shadow on all images
    img {
      box-shadow: 0px 0px 20px 1px #e8e8e8;
    }
    // reset shadow if inside header or table
    h1, h2, h3, h4, h5, h6, table {
      img {
        box-shadow: unset;
      }
    }
  }
}

#markdown-toc {
  @extend .list;
  > li {
    margin-left: 1em;
  }

  ul {
    @extend #markdown-toc;
  }
}

.markdown-docs p {
  margin: 1em 0;
}

ol, ul {
  @extend .list;
}

.truncate {
  width: 80em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search {
  transition: opacity 200ms ease-in;
  .modal-header {
    background-color: $color-grey-800;
    height: $navbar-height;

    .container {
      max-width:860px;
      width: 100%;

      #search-input {
        text-indent: 2em;
      }
    }
  }
  .modal-content {
    padding: 0;
  }

  .close {
    top: 20px;
  }
}

/*********************
Resets for Prism
*********************/

.highlight {
  margin: 20px 0;
}

pre[class*=language-] {
  margin: 0px;
  padding: 20px;
  background: #303030 !important;
  font-size: 14px;
  font-family: monospace;
}

code[class*=language-] {
  padding: 0px;
  margin: 0px;
  height: auto;
  font-size: 14px;
  font-family: monospace;
}

blockquote {
  @extend .alert;
  @extend .is-block;
  display: flex;
  flex-flow: column;
  padding-right: 14px;
  padding-left: 14px;
  margin: 10px 0;

  &.info {
    @extend .is-info;
  }

  &.success {
    @extend .is-success;
  }

  &.warning {
    @extend .is-warning;
  }

  &.danger {
    @extend .is-danger;
  }

  .highlight {
    margin: 1em 0 0 0;

    .highlight {
      margin: 0;
    }
  }

  div, ol, ul, p {
    margin: unset;
  }
}

.coming-soon::after {
  position: relative;
  bottom: 3px;
  content: "Coming Soon";
  background: #d7e2fd;
  color: #3570f4;
  border-radius: 4px;
  margin-left: 8px;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
}
